body{
    margin: 0;
    padding: 0;
}
.wrapper{
    /* border:1px solid#000; */
    height: auto;
    width: 100%;
    margin: 0 auto;
}
.header{
    background-image: url("../images/banner.jpg");
    background-repeat: repeat-x;
    background-size: auto 200px;
    border:1px solid rgb(255, 0, 0);
    height: 200px;
    width: 100%;
}
.menu{
    border:1px solid rgb(30, 255, 0);
    height: 50px;
    width: 100%;
    background-color: rgb(255, 174, 0);
}
ul.list_menu {
    padding: 0;
    margin: 0;
    width: 60%;
    border: 1px solid #000;
    list-style: none;
    margin: 0 auto;
    line-height: 27px;
}
ul.list_menu li:hover {
    background: burlywood;
}
ul.list_menu li a {
    text-decoration: none;
    text-align: center;
    color: #33ff;
}
ul.list_menu li {
    float: left;
    margin: 7px;
    padding: 5px;
}
#main{
    border:1px solid rgb(0, 119, 255);
    height: auto;
    width: 100%;
    background-color: rgb(255, 235, 179);
}
.sidebar{
    /* border:1px solid rgb(0, 14, 31); */
    height: 390px;
    width: 20%;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}
ul.list_sidebar {
    padding: 0;
    margin: 0;
    width: 100%;
    /* border: 1px solid #000; */
    list-style: none;
    line-height: 27px;
}
ul.list_sidebar li:hover {
    background: rgb(202, 136, 48);

}
ul.list_sidebar li a {
    text-decoration: none;
    text-align: left;
    color: #33ff;
    display: block;
}
ul.list_sidebar li {
    margin: 7px;
    padding: 5px;
    padding-left: 10px;
}
.maincontent{
    /* border:1px solid rgb(207, 53, 6); */
    height: auto;
    width: 79%;
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}
ul.lesson_list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
ul.lesson_list li {
    width: 19%;
    border: 1px solid #ddd;
    margin: 5px;
    float: left;
    /* background: rgb(241, 206, 90); */
}
ul.lesson_list li a {
    text-decoration: none;
}
ul.lesson_list li img {
    height: 190px;
    width: 100%;
}
p.title_lesson {
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
video{
    width: 1080px;
    display: block;
    margin-left: 100px;
    padding: 50px;
}
.title_course{
    padding: 10px 20px;
    font-size: 20px;
    /* font-weight: bold; */
    border: 2px solid #ff0000;
}
.title_in_lesson{
    padding: 15px 20px 20px;
    font-size: 30px;
    font-weight: bold;
}
.content{
    padding-left: 20px;
    font-size: 20px;
}
.file{
    padding-left: 20px;
    font-size: 20px;
}
.footer{
    border:1px solid rgb(255, 0, 221);
    height: 150px;
    width: 100%;
    background-color: rgb(236, 193, 49);
}
p.footer_copyright {
    text-align: center;
    color: #000;
}
.clear{
    clear: both;
}